html, body{
    margin: 0;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
canvas{
    display: block;

}
#helper{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
}
#heart{
        position: absolute;
            bottom: 0;
                left: 0;
}
#heart>img{
    height: 24px;
    margin: 5px;
}